.about {
  position: relative;
  margin: 110px auto 0;
  max-width: 1220px;
  padding: 0 27px 110px 205px;
  box-sizing: border-box;
  color: $about-title;

  & img {
    position: absolute;
    left: 0;
  }

  & h2 {
    margin: 0;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
  }

  & p {
    margin: 18px 0 0;
    padding-bottom: 5px;
  }

  & button {
    cursor: pointer;
    width: 180px;
    height: 45px;
    margin: 35px 0 0;
    background-color: transparent;
    border: 1px solid $main-blue;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: $main-blue;

    &:hover{
      color: $about-title;
      border-color: $about-title;
    }
  }

  @media (max-width: $tablet-width) {
    margin-top: 55px;
    padding-left: 213px;
    padding-bottom: 82px;

    & img {
      left: -10px;
      width: 251px;
      height: 360px;
    }

    & h2 {
      font-size: 32px;
      line-height: 45px;
    }

    & p {
      margin-top: 25px;
      padding-bottom: 0;
    }

    & button {
      margin-top: 40px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px 65px;

    & img {
      display: none;
    }

    & h2 {
      font-size: 28px;
      line-height: 40px;
    }

    & p {
      margin-top: 18px;
      padding-bottom: 20px;
    }

    & button {
      margin-top: 13px;
    }
  }
}
