.advantages {
  max-width: 1220px;
  margin: auto;
  padding: 0 25px;
  box-sizing: border-box;

  @media (max-width: $mobile-width) {
    padding: 0 16px 0 14px;
  }
}

.advantages__list {
  list-style: none;
  margin-top: 109px;
  padding: 0;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(299px, auto));

  @media (max-width: $tablet-width) {
    grid-template-rows: repeat(2, auto);
    margin-top: 55px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 22px;
    margin-top: 39px;
  }
}

.advantages__item {
  position: relative;
  cursor: pointer;
  min-height: 232px;
  outline: 1px solid $advantage-border;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -1px;
    width: 3px;
    height: 100%;
    background-color: $main-blue;
  }

  @media (max-width: $tablet-width) {
    &::before {
      width: 2px;
    }
  }

  @media (max-width: $mobile-width) {
    &:first-child .advantages__item-link {
      padding-right: 16px;
    }

    &:last-child .advantages__item-link {
      padding-right: 10px;
    }
  }
}

.advantages__item-link {
  display: block;
  height: 100%;
  padding: 40px 43px;
  box-sizing: border-box;

  & svg {
    fill: $main-blue;
  }

  & h3 {
    margin: 18px 0 0;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $main-blue;
  }

  & p {
    margin: 18px 0 0;
    color: $about-title;
  }

  &:hover {
    background-color: $main-blue;
    color: $main-white;

    & svg {
      fill: $main-white;
    }

    & h3 {
      color: $main-white;
    }

    & p {
      color: $main-white;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 23px 22px 20px 25px;

    & h3 {
      margin-top: 4px;
    }

    & p {
      margin-top: 10px;
    }
  }

  @media (max-width: $mobile-width) {

    padding: 23px 14px 26px 25px;

    & svg {
      width: 35px;
      height: 35px;
    }

    & h3 {
      margin-top: 7px;
      font-size: 20px;
      line-height: 28px;
    }

    & p {
      margin-top: 10px;
    }
  }
}
