.advantages {
  max-width: 1220px;
  margin: auto;
  padding: 0 25px;
  box-sizing: border-box;

  @media(max-width:$mobile-width) {
    padding: 0 16px 0 14px;
  }
}

.advantages__list {
  list-style: none;
  margin-top: 109px;
  padding: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 299px);

  @media(max-width:$tablet-width) {
    grid-template-rows: repeat(2, auto);
    margin-top: 54px;
  }

  @media(max-width:$mobile-width) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    margin-top: 37px;
  }
}

.advantages__item {
  cursor: pointer;
  min-height: 232px;
  border: 1px solid $advantage-border;
  border-left: 3px solid $main-blue;
  padding: 40px 43px;
  box-sizing: border-box;

  & svg {
    fill: $main-blue;
  }

  & h3 {
    margin: 18px 0 0;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $main-blue;
  }

  & p {
    margin: 15px 0 0;
  }

  &:hover {
    background-color: $main-blue;
    color: $main-white;

    & svg {
      fill: $main-white;
    }

    & h3 {
      color: $main-white;
    }
  }

  @media(max-width:$tablet-width) {
    padding: 23px 20px 20px 25px;

    & h3 {
      margin-top: 4px;
    }

    & p {
      margin-top: 10px;
    }
  }

  @media(max-width:$mobile-width) {
    padding: 23px 14px 26px 25px;

    & svg {
      width: 35px;
      height: 35px;
    }

    & h3 {
      margin-top: 7px;
      font-size: 20px;
      line-height: 28px;
    }

    & p {
      margin-top: 10px;
    }

    &:nth-child(2n) {
      padding-right: 10px;
    }

    &:last-child {
      padding-right: 20px;

      & p {
        margin-top: 18px;
      }
    }
  }
}
