.callback-form {
  display: flex;
  justify-content: end;
  width: 100%;
  color: $main-white;
  padding: 95px 0 110px;
  box-sizing: border-box;
  background: left 350px top 160px no-repeat url("../img/paper_airplane_3d_model@1x.png"),
    $main-blue left 175px top -60px no-repeat url("../img/form_polygons.svg");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: left 350px top 160px no-repeat url("../img/paper_airplane_3d_model@2x.png"),
      $main-blue left 175px top -60px no-repeat url("../img/form_polygons.svg");
    background-size: 511px 288px, 1745px 765px;
  }

  @media (max-width: $tablet-width) {
    background: $main-blue;
    padding: 80px 0 104px;
  }

  @media (max-width: $mobile-width) {
    padding: 33px 0 41px;
  }
}

.callback-form form {
  padding-right: 20%;
  width: 570px;

  & h1 {
    margin: 0;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
  }

  & p {
    margin: 7px 0 0;
  }

  @media (max-width: $tablet-width) {
    padding: 0 11%;
    width: 590px;

    & h1 {
      margin-left: -3px;
      font-size: 32px;
      line-height: 45px;
    }

    & p {
      margin-top: 15px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 0 5%;
    width: auto;

    & h1 {
      font-size: 28px;
      line-height: 39px;
    }

    & p {
      margin-top: 10px;
    }
  }
}

.callback-form__inputs-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 570px;
  margin-top: 15px;

  & label {
    display: none;
  }

  & input {
    flex-basis: 270px;
    height: 50px;
    margin-top: 40px;
    padding: 14px 16px;
    box-sizing: border-box;
    background-color: $inputs-blue;
    border: none;
    color: $main-white;

    &::placeholder {
      font-family: "PTMono", "Arial", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $main-white;
    }

    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  & textarea {
    flex-basis: 100%;
    min-height: 154px;
    margin-top: 40px;
    padding: 14px 16px;
    box-sizing: border-box;
    background-color: $inputs-blue;
    border: none;
    color: $main-white;

    &::placeholder {
      font-family: "PTMono", "Arial", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $main-white;
    }
  }


  @media (max-width: $tablet-width) {
    max-width: none;

    & label {
      flex: 1 0 279px;

      &:not(:first-child) {
        margin-left: 30px;
      }
    }

    & textarea {
      min-height: 159px;
    }
  }

  @media (max-width: $mobile-width) {
    max-width: none;
    margin-top: 0;

    & label {
      margin-top: 30px;

      &:not(:first-child) {
        margin-left: 0;
      }
    }

    & textarea {
      min-height: 104px;
      margin-top: 30px;
    }
  }
}

.callback-form__lower-block {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;

  & button {
    cursor: pointer;
    width: 270px;
    height: 47px;
    background-color: transparent;
    border-style: none;
    border-radius: 5px;
    border: 1px solid $main-white;
    color: $main-white;
    text-transform: uppercase;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
  }

  @media (max-width: $tablet-width) {
    margin-top: 47px;

    & button {
      width: 280px;
    }
  }

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    margin-top: 33px;

    & button {
      width: 290px;
    }
  }
}

.callback-form__policy-container {
  display: flex;
  align-items: center;
  max-width: 262px;

  & label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    color: $policy-text;
    font-size: 14px;
    line-height: 16px;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      width: 16px;
      height: 16px;
      background-color: transparent;
      border: 1px solid $main-white;
    }

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 5px;
      width: 7px;
      height: 5px;
      border-left: 1px solid $main-white;
      border-bottom: 1px solid $main-white;
      transform: rotate(-45deg);
    }
  }

  & input {
    position: absolute;
    left: -9999px;
  }

  & input:not(:checked) + label::after {
    opacity: 0;
  }

  @media (max-width: $tablet-width) {
    max-width: 270px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}

