.page-footer {
  background-color: $footer-background;
  height: auto;
  border: 1px solid;
}

.page-footer__upper-block {
  border: 2px solid lightblue;

  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1412px;
}

.page-footer__logo-socials-wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__logo-block {
  display: grid;
  grid-template-areas:  "logo title"
                        "logo text";
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content min-content;

  & svg {
  grid-area: logo;
  padding-right: 16px;
  }

  & h2 {
  grid-area: title;
  margin: 0;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-transform: capitalize;

  @media(max-width:$tablet-width){
  margin-top: 7px
  }
  }

  & p {
  grid-area: text;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: $logo-text;
  }
}

.page-footer__logo {
  width: 52px;
  height: 52px;
}

.page-footer__socials-list {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.page-footer__socials-item {
  margin-right: 16px;

  & svg {
    width: 27px;
    height: 27px;
    fill: $socials-fill;

    &:hover {
      fill: $logo-text;
    }
  }
}

.page-footer__menu-address-wrapper {
  flex: 0 0.7 988px;
  display: flex;
}

.page-footer__menu-block {
  flex: 0 0.7 655px;

  & h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
  }
}

.page-footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 60%;
  flex-wrap: wrap;
}

.page-footer__menu-item {
  color: $header-background;
  opacity: 0.5;
  font-size: 15px;
  line-height: 26px;
}

.page-footer__address-block {
  flex: 0 1 333px;

  & h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
  }
}

.page-footer__address-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.page-footer__bottom-block {
  list-style: none;
  padding: 0;
  margin: auto;
  max-width: 1412px;
  display: flex;
  justify-content: space-between;
}

.page-footer__bottom-item {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  color: $header-background;
  opacity: 0.5;

  &--rights {
    flex: 0 0 165px;
  }

  &--trademark {
    flex: 0 0.2 292px;
    text-align: end;
  }

  &--confidentials {
    flex: 0 0.4 359px;
    text-align: end;
  }

  &--developed {
    flex: 0 0.6 596px;
    text-align: end;
  }
}
