.page-header {
  position: relative;
  overflow: hidden;
  min-height: 878px;
  background: $header-background center url("../img/header_background.png");
  color: $main-white;

  @media(max-width:$tablet-width){
    min-height: 686px;
  }
}

.page-header__upper-block {
  border: 1px solid yellow;

  display: flex;
  align-items: center;
  margin: 33px 13%;
  height: 52px;

  @media(max-width:$tablet-width){
    margin: 17px 25px;
  }

  & button {
    flex-shrink: 0;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $main-white;
    border-radius: 5px;
    width: 180px;
    height: 45px;
    margin-left: 48px;
    margin-right: 6px;
    padding: 14px 13px 8px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: $main-white;

    @media(max-width:$tablet-width){
      display: none;
    }
  }
}

.page-header__list {
  flex-grow: 1;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header__list-item {
  &--logo {
    flex: 0 1 202px;
    display: grid;
    grid-template-areas:  "logo title"
                          "logo text";

    @media(max-width: $mobile-width) {
      flex-basis: 38px;
      display: block;
    }

    & svg {
      grid-area: logo;
      padding-right: 16px;
    }

    & h2 {
      grid-area: title;
      margin: 0;
      font-family: "RobotoCondensed", "Arial", sans-serif;
      font-weight: 700;
      font-size: 25px;
      line-height: 29px;

      @media(max-width:$tablet-width){
        margin-top: 7px
      }

      @media(max-width:$mobile-width){
        display: none;
      }
    }

    & p {
      grid-area: text;
      margin: 0;
      font-family: "Roboto", "Arial", sans-serif;
      font-size: 12px;
      line-height: 15px;
      color: $logo-text;

      @media(max-width:$mobile-width){
        display: none;
      }
    }
  }

  &--contacts {
    flex-grow: 1;
    flex-shrink: 0.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }
}

.page-header__logo {
  display: block;
  width: 52px;
  height: 52px;

  @media(max-width:$mobile-width){
    width: 38px;
    height: 38px;
  }
}

.page-header__contact-list {
  list-style: none;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 9%;
  align-items: center;
  padding: 0;

  @media(max-width:$tablet-width){
    gap: 33px;
  }
}

.page-header__contact-list-item {
  box-sizing: border-box;
}

.page-header__contact-list-item a {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: $main-white;

  & svg {
    fill: $main-blue;
  }

  & span {
    margin-left: 16px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 18px;

    @media(max-width:$tablet-width){
      display: none;
    }
  }

  &:hover {
    color: $logo-text;

    & svg {
      fill: $logo-text;
    }
  }
}

.page-header__list-item-logo {

  &--mail {
    width: 19px;
    height: 14px;

    @media(max-width:$tablet-width){
      width: 25px;
      height: 18px;
    }
  }

  &--phone {
    width: 18px;
    height: 18px;

    @media(max-width:$tablet-width){
      width: 24px;
      height: 24px;
    }
  }
}

.page-header__promo {
  z-index: 1;
  position: absolute;
  top: 231px;
  left: 12%;
  width: 38%;
  min-width: 500px;

  @media(max-width:$tablet-width){
    top: 188px;
    left: 81px;
    min-width: 470px;
  }

  @media(max-width:$mobile-width){
    top: 286px;
    left: 15px;
    max-width: 470px;
    width: auto;
    min-width: 287px;
  }
}

.page-header__promo h2 {
  margin: 0;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  color: $main-white;

  @media(max-width:$tablet-width){
    font-size: 60px;
    line-height: 70px;
  }

  @media(max-width:$tablet-width){
    font-size: 40px;
    line-height: 47px;
  }
}

.page-header__promo p {
  position: relative;
  margin: 31px 0 0 98px;
  font-size: 22px;
  line-height: 34px;

  @media(max-width:$tablet-width){
    margin-left: 51px;
    font-size: 18px;
    line-height: 28px;
  }

  @media(max-width:$tablet-width){
    margin-left: 51px;
    font-size: 16px;
    line-height: 25px;
  }

  &::before{
    position: absolute;
    left: -94px;
    top: 17px;
    content: "";
    width: 10%;
    height: 2px;
    background-color: $main-white;

    @media(max-width:$tablet-width) {
      left: -44px;
      width: 33px;
    }
  }
}

.page-header__promo button {
  width: 407px;
  margin: 37px 0 37px 98px;
  padding: 17px 28px 14px;
  box-sizing: border-box;
  border-radius: 5px;
  border-style: none;
  background-color: $main-blue;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $main-white;
  text-transform: uppercase;

  @media(max-width:$tablet-width) {
    width: 379px;
    margin-left: 51px;
    padding: 17px 14px 14px;
  }

  @media(max-width:$mobile-width) {
    width: auto;
    min-width: 287px;
    margin-left: 0;
    padding: 17px 14px 14px;

    & span {
      display: none;
    }

    &::after {
      content: "Бесплатная консультация";
    }
  }
}

.page-header__promo-button-label {
  @media(max-width:$mobile-width) {
    display: none;
  }

  &:after {
    @media(max-width:$mobile-width) {
      content: "Бесплатная консультация";
    }
  }
}

.page-header__image {
  z-index: 0;
  position: absolute;
  top: 256px;
  left: 54%;

  @media(max-width:$tablet-width){
    top: 134px;
    left: 66%;
  }

  @media(max-width:$tablet-width){
    width: 301px;
    height: 220px;
    top: 92px;
    left: 24px;
  }
}

.page-header__polygons-svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 950px;

  @media(max-width:$tablet-width){
    width: 1514px;
    height: 749px;
    bottom: 123px;
  }
}
