.page-footer {
  position: relative;
  background-color: $footer-background;
  height: auto;
  padding: 65px 3% 0;
  box-sizing: border-box;

  &::before {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    bottom: 52px;
    width: 100vw;
    background-color: $footer-decoration;
    opacity: 0.2;
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;

    &::before {
      display: block;
      position: absolute;
      content: "";
      height: 1px;
      left: 0;
      top: 97px;
      width: 100vw;
      background-color: $footer-decoration;
      opacity: 0.2;
    }

    &::after {
      bottom: 69px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 0;

    &::before {
      top: 261px;
    }

    &::after {
      bottom: 123px;
    }
  }
}

.page-footer__upper-block {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1412px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.page-footer__logo-socials-wrapper {
  flex: 0 1.5 424px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    flex-grow: 0;
    flex-basis: 97px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    flex-basis: 261px;
    flex-direction: column;
    justify-content: start;
  }
}

.page-footer__logo-block {
  display: grid;
  grid-template-areas: "logo title"
    "logo text";
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content min-content;

  & svg {
    grid-area: logo;
    padding-right: 16px;
  }

  & h2 {
    grid-area: title;
    margin: 0;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-transform: capitalize;

    @media (max-width: $tablet-width) {
      margin-top: 7px;
    }
  }

  & p {
    grid-area: text;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: $logo-text;
  }

  @media (max-width: $tablet-width) {
    margin-top: -10px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 46px;
  }
}

.page-footer__trademark-tablet {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: $header-background;
    opacity: 0.5;
  }

  @media (max-width: $mobile-width) {
    margin: 26px 0 0;
  }
}

.page-footer__logo {
  width: 52px;
  height: 52px;
}

.page-footer__socials-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 55px;

  @media (max-width: $tablet-width) {
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    margin-top: 31px;
  }

  & li:not(:last-child) {
    margin-right: 16px;
  }
}

.page-footer__socials-item {
  & svg {
    width: 27px;
    height: 27px;
    fill: $socials-fill;

    &:hover {
      fill: $logo-text;
    }
  }
}

.page-footer__menu-address-wrapper {
  flex: 0 1 988px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-basis: auto;
    padding-top: 38px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-top: 0;
  }
}

.page-footer__menu-block {
  flex: 0 0.7 490px;

  @media (max-width: $tablet-width) {
    flex-grow: 1;
    flex-basis: 375px;
  }

  @media (max-width: $mobile-width) {
    flex-basis: auto;
    padding: 26px 15px;
  }
}

.page-footer__menu-header {
  display: flex;
  justify-content: space-between;

  & h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
  }
}

.page-footer__menu-list {
  list-style: none;
  margin: 29px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 50%;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    height: 100%;
    margin-top: 23px;
  }
}

.page-footer__menu-item {
  color: $header-background;
  opacity: 0.5;
  font-size: 15px;
  line-height: 26px;
}

.page-footer__address-block {
  position: relative;
  flex: 0 1 333px;

  @media (max-width: $tablet-width) {
    flex-grow: 1;
    flex-basis: 345px;
  }

  @media (max-width: $mobile-width) {
    flex-basis: auto;
    padding: 26px 15px;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      height: 1px;
      width: 100vw;
      background-color: $footer-decoration;
      opacity: 0.2;
    }
  }

  & h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
  }
}

.page-footer__address-list {
  list-style: none;
  margin: 29px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 10px;
  }
}

.page-footer__bottom-block {
  height: 52px;
  list-style: none;
  margin: -25px auto 0;
  padding: 0;
  max-width: 1412px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    height: 69px;
    padding: 33px 5px 0;
  }

  @media (max-width: $mobile-width) {
    height: auto;
    flex-direction: column;
    padding: 28px 0 24px;
  }
}

.page-footer__bottom-item {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: $header-background;
  opacity: 0.5;
  white-space: nowrap;

  &--rights {
    flex: 0 0 165px;
  }

  &--trademark {
    flex: 0 0.2 292px;
    text-align: end;
  }

  &--confidentials {
    flex: 0 0.4 359px;
    text-align: end;
  }

  &--developed {
    flex: 0 0.6 596px;
    text-align: end;
  }

  @media (max-width: $tablet-width) {
    &--rights {
      display: none;
    }

    &--trademark {
      display: none;
    }

    &--confidentials {
      flex: auto;
      text-align: start;
    }

    &--developed {
      flex: auto;
    }
  }

  @media (max-width: $mobile-width) {
    &:not(:first-child) {
      margin-top: 23px;
    }
  }
}

.no-js .page-footer__menu-toggle {
  @media (max-width: $mobile-width) {
    display: none;
  }
}


.page-footer__menu-toggle {
  display: none;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    display: block;
  }

  & svg {
    fill: $icon-fill;
    width: 16px;
    height: 16px;
  }
}

.page-footer__menu-block--closed .page-footer__menu-close-icon {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-footer__menu-block--opened .page-footer__menu-open-icon {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-footer__menu-block--closed .page-footer__menu-list {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-footer__address-toggle {
  display: none;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    display: block;
  }

  & svg {
    fill: $icon-fill;
    width: 16px;
    height: 16px;
  }
}

.page-footer__address-block--closed .page-footer__address-close-icon {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-footer__address-block--opened .page-footer__address-open-icon {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-footer__address-block--closed .page-footer__address-list {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
