.page-header {
  position: relative;
  overflow: hidden;
  min-height: 878px;
  background: $header-background url("../img/header_background.png");
  color: $main-white;
}

.page-header__upper-block {
  z-index: 1;
  border: 1px solid white;
  margin: 33px 12%;
  height: 52px;
}

.page-header__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  & button {
    flex-shrink: 0;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $main-white;
    border-radius: 5px;
    margin-left: 38px;
    padding: 14px 13px 8px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: $main-white;
  }
}

.page-header__list-item {
  &--logo {
    display: grid;
    grid-template-areas:  "logo title"
                          "logo text";

    & svg {
      grid-area: logo;
      padding-right: 16px;
    }

    & h2 {
      grid-area: title;
      margin: 0;
      font-family: "RobotoCondensed", "Arial", sans-serif;
      font-weight: 700;
      font-size: 25px;
      line-height: 29px;
    }

    & p {
      grid-area: text;
      margin: 0;
      font-family: "Roboto", "Arial", sans-serif;
      font-size: 12px;
      line-height: 15px;
      color: $logo-text;
    }
  }

  &--contacts {
    flex-grow: 1;
    display: flex;
    justify-content: end;
  }
}

.page-header__logo {
  display: block;
  width: 52px;
  height: 52px;
}

.page-header__contact-list {
  list-style: none;
  display: flex;
  gap: 88px;
  align-items: center;
  padding: 0;
}

.page-header__contact-list-item {
  box-sizing: border-box;
}

.page-header__contact-list-item a {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: $main-white;

  & svg {
    fill: $main-blue;
  }

  & span {
    margin-left: 16px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 18px;
  }

  &:hover {
    color: $logo-text;

    & svg {
      fill: $logo-text;
    }
  }
}

.page-header__list-item-logo {

  &--mail {
    width: 19px;
    height: 14px;
  }

  &--phone {
    width: 18px;
    height: 18px;
  }
}

.page-header__promo {
  border: 1px solid orange;

  position: absolute;
  top: 231px;
  left: 12%;
  width: 720px;
}

.page-header__promo h2 {
  margin: 0;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  color: $main-white;
}

.page-header__promo p {
  position: relative;
  margin: 31px 0 0 98px;
  font-size: 22px;
  line-height: 34px;

  &::before{
    position: absolute;
    left: -94px;
    top: 17px;
    content: "";
    width: 10%;
    height: 2px;
    background-color: $main-white;
  }
}

.page-header__promo button {
  margin: 37px 0 37px 98px;
  padding: 17px 28px 14px;
  box-sizing: border-box;
  border-radius: 5px;
  border-style: none;
  background-color: $main-blue;
  font-size: 16px;
  line-height: 19px;
  color: $main-white;
  text-transform: uppercase;
}

.page-header__polygons {
  position: absolute;
  z-index: 0;
  top: -69px;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 881px;
}

.page-header__image {
  border: 1px solid greenyellow;

  position: absolute;
  top: 256px;
  left: 59%;
}
