@font-face {
  font-family: "PTMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptm55f-webfont.woff2") format("woff2"), url("../fonts/ptm55f-webfont.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("/build/fonts/robotocondensed-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("/build/fonts/robotocondensed-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("/build/fonts/roboto-medium-webfont.woff") format("woff");
}
