body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tablet-and-lower {
  display: none;

  @media (max-width: $tablet-width) {
    display: inline;
  }
}

.desktop-only {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.call-request-button {
  z-index: 1;
  flex-shrink: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $main-white;
  border-radius: 5px;
  width: 180px;
  height: 45px;
  padding: 14px 13px 8px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $main-white;

  &:hover {
    border-color: $about-title;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.body-no-scroll {
  overflow: hidden;
}
