// COLORS
$header-bakcground: #1B2D37;
$main-white: #FFFFFF;
$main-blue: #00B2FF;
$logo-text: #788891;


// VIEWPORTS
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
$max-width: 1920px;
