// COLORS
$header-background: #1B2D37;
$footer-background: #FAFAFA;
$footer-text: #1B2D37;
$main-white: #FFFFFF;
$form-input-background: rgba(255, 255, 255, 0.1);
$main-blue: #00B2FF;
$logo-text: #788891;
$socials-fill: #CDCDCD;
$footer-decoration: #626962;
$icon-fill: #C4C4C4;
$advantage-border: #EBEBEB;
$about-title: #666666;

// VIEWPORTS
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
$max-width: 1920px;
