// COLORS
$header-background: #1b2d37;
$footer-background: #fafafa;
$footer-text: #1b2d37;
$main-white: #ffffff;
$form-input-background: rgba(255, 255, 255, 0.1);
$policy-text: rgba(255, 255, 255, 0.8);
$main-blue: #00b2ff;
$inputs-blue: #19baff;
$logo-text: #788891;
$socials-fill: #cdcdcd;
$footer-decoration: #626962;
$icon-fill: #c4c4c4;
$advantage-border: #ebebeb;
$about-title: #666666;

// VIEWPORTS
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
$max-width: 1920px;
